ENVIRONMENT=development
RACK_ENV=development
RAILS_ENV=development
DB_USERNAME=postgres
DB_PASSWORD=password
DB_HOST="development-texting_service-db"
DB_PORT="5432"
SERVICE_NAME=texting_service
POSTGRES_PASSWORD=password
CALLBACK_HOST="https://*.ngrok.dev"
SMS_PROVIDER_URLS="https://example.com/prov1,https://example.com/prov2"
